/* menu bar -----------------------*/

nav {
    background: #f9f9f9;
    float: left;
    width: 100%;
}

nav ul {
    text-align: center;
}

nav ul li {
    float: left;
    display: inline;
}

nav ul li:hover {
    background: #eae8e8;
}

nav ul li a {
    padding: 20px 30px;
    display: block;
    color: #000000;
}

nav ul li ul {
    background: #FFF;
    position: absolute;
    width: 110px;  
}

nav ul li ul li {
    width: 110px;
}

nav ul li ul li a {
    display: block;
    padding: 15px 10px;
    color: #000000;
}

nav ul li ul li:hover a {
    background: #eae8e8;
}

nav ul li ul.dropdownItem {
    display: none;

}
nav ul li:hover ul.dropdownItem {
    display: block;
}

div.content {
    width: 50%;
    padding-top: 50px;
}

/* tabs -----------------------*/

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #000000;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #eae8e8;
    color: #000000;
}

.tab-content{
    display: none;
    background: #f9f9f9;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

/* modal -----------------------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#emailMatch{
    display: none;
    color: red;
}

.error{
    color: red;
}